:root {
    --light-blue: #87a5e6;
    --dark-blue:#4f77cc;
}

#title { 
    height: 80px;
    padding: 15px 0;
    background-image: linear-gradient(var(--light-blue), whitesmoke);
}

#search-container {
    border-bottom: 1px grey solid;
}

#current-forecast {
    height: 180px;
    border: 1px black solid;
}

#search-btn,
.button { 
    width: 100%;
    background-color: var(--dark-blue);
    color: whitesmoke;
}

#current-forecast-header h3 ,
#current-forecast-header i {
    display: inline;
}

.forecast-card {
    padding: 15px;
}