:root {
    --blue-color: #87a5e6;
}

#title { 
    height: 80px;
    padding: 15px 0;
    background-image: linear-gradient(var(--blue-color), whitesmoke);
}

#search-container {
    border-bottom: 1px grey solid;
}

#city-content-container {
    border: 1px black solid;
}

#search-btn { 
    background-color: var(--blue-color);
    color: whitesmoke;
}

#current-forecast-header h3 ,
#current-forecast-header i {
    display:inline;
}